table {border: 1px solid black; font-size: 10px}
tr {align:center}

a {color:#013155; text-decoration: none;}
a:link {color: #013155;text-decoration: none;}
a:visited {color: #013155;text-decoration: none;}
a:hover {color: #ff8800;text-decoration: none;}
a:active {color: #0000FF;text-decoration: none;}
